.git
.github
.gitignore
.env
.env.*
!.env.example
auth.json
vendor
node_modules
public/build
public/hot
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
tests
phpunit.xml
.phpunit.cache
README.md
CHANGES.md
*.md
Dockerfile
.dockerignore
.editorconfig
